* {
    margin: 0;
    padding: 0;
}




.imagens {
    margin-top: 60px;

}


footer {
    margin-top: 30px;
}


footer {
    border-top: 1px solid white;
}


.container {
    margin-top: 20px;

    font-family: "Coves";

}


#logo {
    margin: 0;
    width: 200px;
    border: none;
}

.social{
    float: right;
    margin-bottom: 10px;
    font-family: "BigJohn";
    font-size: 0.8em;
 }
 
 .social #insta, #iface, #imaps {
    padding: 4px;
 }
 footer {
    font-size: 1.5em;
    font-family: "BigJohn";
    color: white;
 }




.menu {
    text-align: center;
    list-style: none;
    padding: 3px;
    position: relative;
    padding-left: 0;
    margin-bottom: 5px;
    font-size: 1.4em;


}

.submenu {
    padding-top: 5px;
    padding-left: 0;
    list-style: none;
    text-align: center;

    padding-bottom: 5px;
    font-size: 1em;
    position: absolute;
    background: transparent;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.5s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.submenu a {
    width: 100%;
    font-size: 1em;
}


.menu:focus .submenu,
.menu:focus-within .submenu,
.menu:hover .submenu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.6s;
}


nav {
    margin-top: 30px;
    margin-left: 40px;
}

nav a {
    display: block;
}

nav>ul>li {
    position: relative;
    display: inline-block;
}

body {

    background-image: linear-gradient(#000722, #051528);
    background-repeat: no-repeat;
    height: 100%;
    margin: 10px;
    margin-top: 0;
    background-attachment: fixed;
    color: white;


}

a {
    color: white;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}


@font-face {
    font-family: "Coves";
    src: url("../fonts/Coves\ Light.otf");
}

.social{
    float: right;
    margin-bottom: 10px;
    font-family: "Coves";
    font-size: 0.8em;
 }
 
 .social #insta, #iface, #imaps {
    padding: 4px;
 }
 
 footer {
    font-size: 1.5em;
    font-family: "Coves";
    color: white;
 }